@font-face {
  font-family: 'FrutigerLTArabic-45Light';
  src: font-url('FrutigerLTArabic-45Light.woff') format('woff'),
    font-url('FrutigerLTArabic-45Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLTArabic-55Roman';
  src: font-url('FrutigerLTArabic-55Roman') format('woff'),
    font-url('FrutigerLTArabic-55Roman') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLTArabic-65Bold';
  src: font-url('FrutigerLTArabic-65Bold') format('woff'),
    font-url('FrutigerLTArabic-65Bold') format('truetype');
  font-style: normal;
}
